{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    {% block content %}
    {% if sproduct %}
    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            {{ rcount }} items have been found
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for i in sproduct %}
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="{{ i.image.url }}" alt="..." height="140px" />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            {{ i.description }}
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">{{ i.name }}</h5>
                                <!-- Product price-->
                                ${{ i.price }}
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-dark mt-auto" href="{% url 'details' category_slug=i.category.slug product_slug=i.slug %}">View options</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            

            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                {% if sproduct.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ sproduct.previous_page_number }}">Previous</a></li>
                {% endif %}
                {% for i in nums %}
                    
                    <li class="page-item"><a class="page-link" href="?page={{forloop.counter}}">{{forloop.counter}}</a></li>
                {% endfor %}

                {% if sproduct.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{sproduct.next_page_number}}">Next</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{sproduct.paginator.num_pages}}">Last &raquo;</a></li>
                {% endif %}
                </ul>
            </nav>
            
 


            

        </div>
    
        
    </section> 
    {% else %}
    <p>no data</p>
    {% endif %}
    
    
  
    
    
    
    {% endblock %}
    
    

    
</body>
</html>




